{% extends "layout.html" %}
{% block body %}
    <h2>Recent Builds</h2>
    {% if message|length > 0 %}
    <p>Latest commit message:</p>
    <p class="alert alert-info">{{ message }}</p>
    {% endif %}
    <h2><span class="label label-{{ status_label }}">{{ status_nice }}</span></h2>
    {% if builds|length > 0 %}
    <ol>
        {% for build in builds %}
        <li class="alert alert-info">
            <h3>Built on {{ build['date'] }}</h3>
            <a href="{{ url_for('build_status', sha1=build['sha1']) }}">{{ build['sha1'] }}</a><br>
            {{ build['message'] }}
            {% if build['status_nice']|length > 0 %}
            <h3><span class="label label-{{ build['status_label'] }}">{{ build['status_nice'] }}</span></h3>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>
{% endblock %}
