{% extends "layout.html" %}
{% block body %}
    <h2>Build Details</h2>
    <p>Displaying build details for <code><a href="{{ commit_uri }}">{{ sha1 }}</a></code></p>
    {% if message|length > 0 %}
    <p>Latest commit message:</p>
    <p class="alert alert-info">{{ message }}</p>
    {% endif %}
    <h2><span class="label label-{{ status_label }}">{{ status_nice }}</span></h2>
    {% if data|length > 0 %}
    <ol>
        {% for action in data %}
        <li>
            <p>{{ action['cmd'] }}{% if action['code'] != 0 %}: Exit code: {{ action['code'] }}{% endif %}</p>
            <pre>{{ action['out'] }}</pre>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>
{% endblock %}
